<div class="card">
    <div class="card-body"></div>
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere placeat inventore aspernatur nam deleniti, assumenda optio, beatae dignissimos magni ratione eos! Ex exercitationem et quibusdam perspiciatis repudiandae minus omnis ut quis nobis eos. Inventore modi aliquam culpa quia, maxime animi.</p>
</div>