<div class="border border-success">
    <h1 class="display-4"> NOmbre de la app</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas, corporis perspiciatis, obcaecati similique reprehenderit laboriosam voluptates atque dolorum, error sapiente quia et at rem iure facilis placeat ipsum eveniet.</p>
    <a href="https://www.youtube.com/watch?v=-bI0diefasA" class="btn btn-primary btn-lg">Fazt</a>
</div>
