<!-- Formulario paa actulizzar las notas que ya las Creamos --> 
<div class="col-md-4 mx-auto ">
    <div class="card">
        <div class="car-header">
            <h3>Editar nota </h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST"><!-- Desde la nota que me esta enviando el servidor + id enviamos a trves de metodo Post --> 
                <input type="hidden" name="_method" value="PUT"> 
                <div class="mt-3">
                    <input type="text" name="title"  class="form-control" placeholder="Title"
                    value="{{note.title}}"> 
                </div>
                <div class="form-group">
                    <textarea name="descripcion" class="form-control">{{note.descripcion}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>